@if (weather) {
  <div class="card">
    <div class="icon">
      <app-weather-icon [code]="weather.cod"></app-weather-icon>
    </div>
    @if (weather.temp) {
      <div class="temp">
        <p>Temperature</p>
        <p class="big">{{weather.temp}}°</p>
      </div>
    }
    @if (weather.minMaxTemp) {
      <div class="low-temp">
        {{weather.minMaxTemp.min}}°
        <span>Min</span>
      </div>
    }
    @if (weather.minMaxTemp) {
      <div class="high-temp">
        {{weather.minMaxTemp.max}}
        <span>Max</span>
      </div>
    }
    <div class="description">
      <h2>{{weather.name}}</h2>
      <p>{{weather.description}}</p>
    </div>
  </div>
}